*,
*:after,
*:before {
	box-sizing: border-box;
}

.wrapper {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}
.like{    margin-left: 20px;
    margin-bottom: 5px;}
h1 {
	text-align: center;
}
.container {
  height: 500px;
  }
	header {

  height: 30px;
	margin-bottom: 10px;

}
.comment {
    margin: 0;
}
.time{
position: relative;
left: 10px;


}
#wrapper {
  margin-top: 36px;
  margin-bottom: 16px;
}
.panel-body .glyphicon {
    margin-left: 10px;
    margin-right: 4px;
}
.text-post {
    margin-bottom: 15px;
    margin-top: 0;
}

#main,
#menu,
#sidebar {
  height: 550px;
	background-color: #e9ebee;
    overflow: auto;
}
.image-post {
    margin-bottom: 15px;
}
#main::-webkit-scrollbar {
    display: none;
}
.box {
	height: 500px;
	background-color: #e7e7e7;
	border: 1px solid rgba(0,0,0,0.87);
}
.wrapper {
  display: flex;
border: 2px solid black;
}
.col-4 {
  background-color: #DDD;
  width: 33.33%;
  border-right: 1px solid black;
	padding: 4px;
}


#hello{
  height:100%;
	background-color: green;
}
#header {
    background-color: #4267b2;
    color: white;
    height:30px;


}
p {
	margin: 0 0 10px;
}

.white-text{

	 color:white !important;

}

#imageeditt{

	padding:0px;
	color: black;

	margin-top: 10px;

}

/* Add Custom CSS Below this line */
